/*
Author: Yong Cho
Email: Yong_Cho@student.uml.edu
Created: 9/5/2015
File Description: Defines common style elements applied throughout the site.
*/

@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('http://fonts.googleapis.com/css?family=Roboto');
@import url('http://fonts.googleapis.com/css?family=Nunito');

body      { background-image: url(../img/image11.png); 
            font-family: 'Roboto', 'Source Sans Pro', Verdana, Arial, sans-serif; }

/* Some generic styling for all sections */
ul        { list-style: none; }     /* Remove the bullets. */
a         { text-decoration: none;  /* Don't need the default underline. */
            color: #5c5cb8; }       /* No blue/red/purble combo either. */
a:hover   { text-decoration: underline; }

/* Limit the width of the contents area and centers it horizontally 
so it does not span the entire screen. */
#contents_wrapper       { background-color: FloralWhite;
                          max-width: 950px;
                          margin-left: auto;
                          margin-right: auto;
                          box-shadow: 0px 2px 16px grey; }

/* Top and bottom area for the site. */
#contents_wrapper > header  { padding: 20px; }
#contents_wrapper > footer  { padding: 10px; text-align: right; }

#siteTitle              { font-family: Helvetica, Arial, sans-serif;
                          font-weight: 700;
                          font-size: 28px;
                          color: #8b3d3d; }


/* Top-level menu */
nav                     { padding-left: 10px; 
                          padding-right: 10px; }
nav > ul                { display: inline-block; 
                          padding: 4px;
                          width: 99%; }
nav > ul > li           { font-size: 16px;
                          float: left;
                          margin-left: 10px;
                          margin-right: 10px;
                          display: block; }
nav > ul > li > a       { padding-bottom: 5px; }
nav ul li:hover > ul    { display: block; } /* This makes the second-level menus to show on hover. */

/* Second-level menu - shows only on hover */
nav ul ul               { position: absolute;  /* This is necessary to prevent content being pushed down when menu is unfolded. */
                          display: none;  /* Hide until hovered on */
                          border-style: solid;
                          border-width: 1px;
                          border-color: #5cb85c;
                          border-radius: 4px;  
                          padding: 6px;
                          margin-top: 5px;
                          background-color: #fcfdfd; }
nav ul ul li            { float: none;  
                          font-size: 14px;
                          line-height: 130%; }

/* Line below nav links that visually separates the dynamic contents from the static contents. */
#navUnderline           { background-color: #5cb85c;
                          height: 2px;
                          margin-left: 5px;
                          margin-right: 5px;
                          margin-bottom: 20px; }


/* Dynamic contents area */
main                    { min-height: 500px; padding: 10px; }
article                 { padding: 10px;          
                          color: #211e1a;
                          font-size: 16px; }
article p               { line-height: 140%; margin-bottom: 12px; }
article h1              { font-family: 'Nunito', sans-serif;
                          font-size: 28px;
                          font-weight: 500;
                          margin-bottom: 28px; }
article h2              { font-family: Helvetica, Arial, sans-serif;
                          font-size: 18px;
                          font-weight: 500;
                          margin-top: 23px;
                          margin-bottom: 18px; }
article img             { margin: 5px; }
