/*
Author: Yong Cho
Email: Yong_Cho@student.uml.edu
Created: 12/3/2015
File Description: Styles for the elements specific to assignment 9 page.
*/


#scoreBoard        { width: 600px; margin: 30px auto 10px auto; padding-bottom: 5px; border-bottom: 1px solid #339933; font-size: 14px; }
#scoreBoard div    { display: inline-block; }
#scoreBoard > div > div:nth-child(2)  /* Values that follow the labels ...*/
									 { width: 72px; font-weight: bold; }

/* Make the board fixed width so the tiles stay in a single row when window is shrinked.*/
#board             { margin-left: auto; margin-right: auto; margin-bottom: 20px; text-align: center; }

/* Board slots. Margin, padding, and border thickness are to be set by JavaScript. */
.boardSlot         { border-style: solid; border-color: black; float: left; }

.buttonBox         { margin: auto; margin-bottom: 20px; text-align: center; }

#instruction       { text-align: center; margin-bottom: 20px; font-size: 14px; }
.instructionIcon   { width: 15px; height: 15px; vertical-align: middle; }

#letterRack        { width: 620px; height: 144px; margin-left: auto; margin-right: auto; text-align: center; background-image: url("../img/scrabble/rack.png"); }
.letterTile        { border-radius: 4px; margin: 0px; }

/* Adjust position so the tile sits naturally on the rack and board background image. */
.letterTileOnRack  { margin: 27px 5px 0px 5px; }
.letterTileOnBoard { top: 3px; }
.letterTileInDialog
									 { width: 40px; height: 44px; margin: 1px; float: left; }
.letterTileInDialog:hover
									 { cursor: pointer; box-shadow: 0px 0px 5px blue; }

/* Highlight drop targets when dragging a tile and hovering over a specific board slot. */
.dragHighlight     { box-shadow: 0px 0px 15px green; }
.hoverHighlight    { box-shadow: 0px 0px 15px blue; }

/* Hide the title bar the blank tile dialog. The dialog should only close when
the user clicks one of the tile images. */
.ui-dialog-titlebar {
    display: none;
}

/* Button style (button, hover, active) copied from http://www.bestcssbuttongenerator.com/#/28. */
button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
button:active {
	position:relative;
	top:1px;
}
button:disabled {
	color: #e9e9e9;
	cursor: default;
}
